@(data: DataMap)(implicit session: Session)@* (implicit flash: Flash)*@

@main("Comm Picture", session) {
    <link rel="stylesheet" href="path/to/font-awesome/css/all.min.css">
    <div class="main-share-title">
        <h1>-- Fakebook --</h1>
        <label>This picture was added at : @data.date and has @data.likes likes.</label>
    </div>

    <div class="image-container">
        <div class="image-block">
            <div class="description">
                <label>Description : </label>
                <div class="description-text">@data.description</div>
            </div>

            @helper.form(routes.CommentOnImageController.submitLikeToImage(session.get(models.Global.SESSION_USERNAME_KEY).get, data.pictureID), Symbol("enctype") -> "multipart/form-data") {
                <form action="@routes.CommentOnImageController.submitLikeToImage(session.get(models.Global.SESSION_USERNAME_KEY).get, data.pictureID)" method="post" enctype="multipart/form-data">
                    <img class="display-img-2" src="@data.pictureLink" alt="Image">
                    <button class="like-button" type="submit" value="Submit"><i class="far fa-thumbs-up"></i>Like</button>
                </form>
            }
                <!-- Comment Section -->
            <div class="comment-section">
                    <!-- Display existing comments -->
                    <h3>Comments:</h3>
                    @for((key, values) <- data.commentShared) {
                        @for(value <- values) {
                            <p class="description-text">@key : @value</p>
                        }
                    }
            </div>
        </div>
    </div>
    <!-- Add a form for submitting a comment -->
    @helper.form(routes.CommentOnImageController.submitComment(session.get(models.Global.SESSION_USERNAME_KEY).get, data.pictureID), Symbol("enctype") -> "multipart/form-data") {
        <br>
        <br>

        <div class="comment-section-2">
            <form action="@routes.CommentOnImageController.submitComment(session.get(models.Global.SESSION_USERNAME_KEY).get, data.pictureID)" method="post" enctype="multipart/form-data">
                <label>
                    <div><label for="picture-info">Comment on the picture:</label></div>
                    <textarea name="commentText" rows="2" cols="10" placeholder="Add your comment here..."></textarea>
                </label>
                <br>
                <input type="submit" value="Submit">
            </form>
        </div>
    }

}
