@(dataDao: Seq[DataMap])(implicit session: Session)@* (implicit flash: Flash)*@
@main("Sharing Picture", session) {
    <div class="main-share-title">
        <h1>-- Fakebook --</h1>
        <div>
            <a href="@routes.MainPageController.sortByDate()" class="sort-link">Sort by Date</a>
            <a href="@routes.MainPageController.sortByLikes()" class="sort-link">Sort by Likes</a>
        </div>
    </div>

    <div class="image-container">
    @for(data <- dataDao) {
        <div class="image-block">
            <div class="description">
                <div><label>This picture was added at : @data.date and has @data.likes likes.</label></div>
                <label>Description: </label>
                <div class="description-text">@data.description</div>
            </div>

            <img class="display-img" src="@data.pictureLink" alt="Image">

            <div class="comment-section">
                <div class="existing-comments">
                    <h3>Comments:</h3>
                    @for((key, values) <- data.commentShared) {
                        @for(value <- values) {
                            <p class="description-text">@key : @value</p>
                        }
                    }
                    <p><a href="@routes.CommentOnImageController.showCommentImage(data.pictureID)">See More</a></p>
                </div>
            </div>
        </div>
    }
    </div>
}